{provider_hooks, [
                 {pre, [{compile, {rs, compile}}]}
                 ]}.

{plugins, [{rs_compile, ".*", {git, "git@github.com:joshragem/rs_compile"}}]}.
{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {'rs_compile_example', "1.0.0"},
         [rs_compile_example,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, false},

        {extended_start_script, true}]
}.